[package]
name = "http-client"
version = "6.4.1"
license = "MIT OR Apache-2.0"
repository = "https://github.com/http-rs/http-client"
documentation = "https://docs.rs/http-client"
description = "Types and traits for http clients."
keywords = ["http", "service", "client", "futures", "async"]
categories = ["asynchronous", "web-programming", "web-programming::http-client", "web-programming::websocket"]
authors = [
    "Yoshua Wuyts <yoshuawuyts@gmail.com>",
    "dignifiedquire <me@dignifiedquire.com>",
    "Jeremiah Senkpiel <fishrock123@rocketmail.com>"
]
readme = "README.md"
edition = "2018"
include = ["src/**/*", "LICENSE-*", "README.md", "CHANGELOG.md"]

[package.metadata.docs.rs]
features = ["docs"]
rustdoc-args = ["--cfg", "feature=\"docs\""]

[features]
default = ["h1_client", "native-tls"]
docs = ["h1_client", "curl_client", "wasm_client", "hyper_client", "unstable-config"]

h1_client = ["async-h1", "async-std", "deadpool", "futures"]
native_client = ["curl_client", "wasm_client"]
curl_client = ["isahc", "async-std"]
wasm_client = ["js-sys", "web-sys", "wasm-bindgen", "wasm-bindgen-futures", "futures"]
hyper_client = ["hyper", "hyper-tls", "http-types/hyperium_http", "futures-util", "tokio"]

native-tls = ["async-native-tls"]
rustls = ["async-tls", "rustls_crate"]

unstable-config = []

[dependencies]
async-trait = "0.1.50"
dashmap = "4.0.2"
http-types = "2.11.1"
log = "0.4.14"
cfg-if = "1.0.0"

# h1_client
async-h1 = { version = "2.3.2", optional = true }
async-std = { version = "1.9.0", default-features = false, optional = true }
async-native-tls = { version = "0.3.*", optional = true }
deadpool = { version = "0.8.1", optional = true }
futures = { version = "0.3.15", optional = true }

# h1_client_rustls
async-tls = { version = "0.11.0", optional = true }
rustls_crate = { version = "0.19.1", optional = true, package = "rustls" }

# hyper_client
hyper = { version = "0.14.10", features = ["tcp", "client", "server", "http2", "stream"], optional = true }
hyper-tls = { version = "0.5.0", optional = true }
futures-util = { version = "0.3.15", features = ["io"], optional = true }
tokio = { version = "1.8.1", features = ["time", "io-util"], optional = true }

# curl_client
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
isahc = { version = "1.4.0", optional = true, default-features = false, features = ["http2"] }

# wasm_client
[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = { version = "0.3.51", optional = true }
wasm-bindgen = { version = "0.2.74", optional = true }
wasm-bindgen-futures = { version = "0.4.24", optional = true }
futures = { version = "0.3.15", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.51"
optional = true
features = [
    "AbortSignal",
    "Headers",
    "ObserverCallback",
    "ReferrerPolicy",
    "Request",
    "RequestCache",
    "RequestCredentials",
    "RequestInit",
    "RequestMode",
    "RequestRedirect",
    "Response",
    "Window",
    "WorkerGlobalScope",
]

[dev-dependencies]
async-std = { version = "1.9.0", features = ["unstable", "attributes"] }
portpicker = "0.1.1"
tide = { version = "0.16.0", default-features = false, features = ["h1-server"] }
tide-rustls = "0.3.0"
tokio = { version = "1.8.1", features = ["macros"] }
serde = "1.0.126"
serde_json = "1.0.64"
mockito = "0.30.0"

[dev-dependencies.getrandom]
version = "0.2.3"
features = ["js"]
